@import "../../_functions.scss";
@import "../../_variables.scss";

.switch {
  position: relative;
  display: inline-block;
  width: convertToRem(40rem);
  height: convertToRem(16rem);
  margin: 0 convertToRem(4rem);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $black-transparent;
  transition: 0.4s;
  border-radius: convertToRem(34rem);

  &::before {
    position: absolute;
    content: "";
    height: convertToRem(24rem);
    width: convertToRem(24rem);
    left: convertToRem(-5rem);
    bottom: convertToRem(-4rem);
    background: $white-anti-flash;
    transition: 0.4s;
    border-radius: convertToRem(50rem);
    box-shadow: 0px 0px 3px 2px $black-transparent;
  }
}

.switch input {
  display: none;
}

.switchInput:checked + .slider {
  background: $blue-light;

  &::before {
    transform: translateX(convertToRem(24rem));
  }
}
