@import "./functions.scss";
@import "./variables.scss";

.title {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: clamp(convertToRem(35rem), 65%, convertToRem(65rem));
  font-family: "Fira Sans", sans-serif;
  color: $black-pearl;
  display: flex;
  padding-top: 2%;
  align-items: center;
  cursor: default;
  width: auto;
  max-width: convertToRem(500rem);
  min-width: convertToRem(100rem);
  transition: 0.4s ease;
  text-align: center;
  margin: auto;
}

@media (min-width: 1000px) {
  .title {
    &::before {
      content: "404";
      color: $orange-sunset;
      font-family: "Fire Mono", monospace;
      cursor: default;
      display: none;
      position: absolute;
      left: 1%;
    }

    &:hover::before {
      display: block;
      animation: show 0.5s forwards;
    }

    @keyframes show {
      from {
        left: -1%;
        opacity: 0;
      }
      to {
        left: 32%;
        opacity: 1;
      }
    }
  }
}

.description {
  font-size: clamp(convertToRem(17rem), 50%, convertToRem(35rem));
  font-family: "Baloo", sans-serif;
  color: $blue-deep-koamaru;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.goBackWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: none;
  background: white-anti-flash;
  box-shadow: 0px 1px 5px 0px $black-transparent;
  font-family: "Roboto", sans-serif;
  color: $black-pearl;
  cursor: pointer;
  width: auto;
  min-width: convertToRem(200rem);
  max-width: convertToRem(350rem);
  height: auto;
  min-height: convertToRem(35rem);
  padding: 1%;
  transition: 0.4s;
  border-radius: 1rem;

  .arrowLeft {
    font-size: 140%;
    color: $black-pearl;
    margin-right: 3%;
  }

  &:hover {
    color: $blue-cyanite;
    box-shadow: 0px 1px 10px 0px $black-transparent;

    .arrowLeft {
      color: $blue-cyanite;
    }
  }

  &:active {
    background: $black-pearl;
  }
}
