$green-neprhitis: #27ae60;
$yellow-sun-flower: #f1c40f;
$red-alizarin: #e74c3c;
$blue-deep-koamaru: #30336b;
$blue-merachant-marine: #0652dd;
$blue-merachant-marine-transparent: #0651ddc7;
$blue-free-speech: #3c40c6;
$blue-dark-periwinkle: #575fcf;
$blue-light: #4d66a4;
$blue-cyanite: #0abde3;
$purple-periwinkle: #9c88ff;
$blue-coastal-breeze: #dff9fb;
$orange-sunset: #ff5e57;
$orange-synthetic-pumpkin: #ff793f;
$black-pearl: #1e272e;
$black-transparent: #0000008c;
$gray-peace: #a4b0be;
$white-anti-flash: #f1f2f6;
$white-anti-flash-transparent: #f1f2f6ab;
