@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;700&family=Fira+Sans:wght@200;300;400;500;900&family=Roboto+Mono:wght@200;300;400;600&family=Roboto:wght@100;300;500;700;900&display=swap");

$blue-deep-koamaru: #30336b;
$blue-free-speech: #3c40c6;
$blue-dark-periwinkle: #575fcf;
$blue-light: #4d66a4;
$blue-cyanite: #0abde3;
$blue-coastal-breeze: #dff9fb;
$orange-sunset: #ff5e57;
$black-pearl: #1e272e;
$black-transparent: #0000008c;
$gray-peace: #a4b0be;
$white-anti-flash: #f1f2f6;
