@import "./_functions.scss";
@import "./variables.scss";

* {
  border: none;
  box-sizing: border-box;
  padding: none;
  margin: none;
  outline: none;
}

#post-body {
  font-family: "Baloo Bhaijaan", sans-serif;
  width: 80%;
  height: 84vh;
  margin: auto;
  margin-top: min(20%, convertToRem(100rem), 50%);
  box-shadow: 0px 0px 5px 0px $black-transparent;
  overflow-y: auto;
  padding: 1rem;
  border-radius: convertToRem(5rem);
  background: $white-anti-flash;

  img {
    width: 100%;
    height: auto;
  }

  a {
    color: $blue-cyanite;
    transition: all 0.3s ease;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $blue-light;
    }
  }
}

@media (max-width: 400px) {
  #post-body {
    font-family: "Baloo Bhaijaan", sans-serif;
    width: 80%;
    height: 84vh;
    margin: auto;
    margin-top: max(50%, convertToRem(45rem), convertToRem(60rem));
    box-shadow: 0px 0px 5px 0px $black-transparent;
    overflow-y: auto;
    padding: 1rem;
    border-radius: convertToRem(5rem);

    img {
      width: 100%;
      height: auto;
    }

    a {
      color: $blue-cyanite;
      transition: all 0.3s ease;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: $blue-light;
      }
    }
  }
}

@media (max-width: 245px) {
  #post-body {
    font-family: "Baloo Bhaijaan", sans-serif;
    width: 80%;
    height: 84vh;
    margin: auto;
    margin-top: max(75%, convertToRem(150rem), convertToRem(180rem));
    box-shadow: 0px 0px 5px 0px $black-transparent;
    overflow-y: auto;
    padding: 1rem;
    border-radius: convertToRem(5rem);

    img {
      width: 100%;
      height: auto;
    }

    a {
      color: $blue-cyanite;
      transition: all 0.3s ease;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: $blue-light;
      }
    }
  }
}

.hidden {
  position: absolute;
  top: -100%;
  opacity: 0;
  transition: all 0.3s;
}

button:disabled {
  opacity: 0.7;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
  box-shadow: inset 0 0 5px $black-transparent;
}

::-webkit-scrollbar-thumb {
  background: $transparent-gray-peace;
  border-radius: 10px;
}
