@import "./functions";
@import "./variables";

.container {
  width: 100%;
  height: auto;
  margin-top: clamp(17.5%, convertToRem(40rem), 45%);

  h3 {
    display: flex;
    align-items: center;
    font-size: clamp(80%, convertToRem(150rem), 160%);
    font-family: "Fira Sans", sans-serif;
    margin-left: 23%;
    cursor: default;
  }
}

@media (max-width: 411px) {
  .header {
    .title {
      margin-top: clamp(15%, convertToRem(60rem), 35%);
      width: 100%;
      min-width: 100%;
      height: auto;
      font-size: clamp(100%, convertToRem(190rem), 200%);
    }
  }
  .container {
    width: 100%;
    height: auto;
    padding-top: 0.25rem;
    margin-top: clamp(45%, convertToRem(65rem), 75%);
  }

  .postsList {
    width: 100%;
    height: auto;
    margin-top: clamp(100%, convertToRem(100rem), 110%);
  }
}

@media (max-width: 900px), (min-width: 500px) {
  .postsList {
    margin-top: convertToRem(200rem);
  }
}

@media (max-width: 670px) {
  .header {
    .title {
      margin-top: clamp(15%, convertToRem(50rem), 25%);
      width: 100%;
      min-width: 100%;
      height: auto;
      font-size: clamp(100%, convertToRem(190rem), 200%);
    }
  }
  .container {
    width: 100%;
    height: auto;
    margin-top: clamp(40%, convertToRem(90rem), 90%);
  }
}
