@import "./functions";
@import "./variables";

@media (max-width: 411px) {
  .header {
    .title {
      margin-top: clamp(15%, convertToRem(60rem), 35%);
      width: 100%;
      min-width: 100%;
      height: auto;
      font-size: clamp(100%, convertToRem(190rem), 200%);
    }
  }

  .postsList {
    width: 100%;
    height: auto;
    margin-top: clamp(100%, convertToRem(100rem), 110%);
  }
}

@media (max-width: 900px), (min-width: 500px) {
  .postsList {
    margin-top: convertToRem(200rem);
  }
}

@media (max-width: 670px) {
  .header {
    .title {
      margin-top: clamp(15%, convertToRem(50rem), 25%);
      width: 100%;
      min-width: 100%;
      height: auto;
      font-size: clamp(100%, convertToRem(190rem), 200%);
    }
  }
}
