@import "../../_functions.scss";
@import "../../_variables.scss";

.shortHeader {
  position: absolute;
  display: flex;
  width: 100%;
  height: auto;
  min-height: convertToRem(50rem);
  max-height: convertToRem(100rem);
  padding: 0 5%;
  background: $blue-merachant-marine-transparent;
  z-index: 10;
  top: 0;
  left: 0;
  margin: 0;
  align-items: center;
  justify-content: space-between;

  .imageWrapper {
    max-width: convertToRem(70rem);
    min-width: convertToRem(30rem);
    max-height: convertToRem(70rem);
    min-height: convertToRem(30rem);
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
  }

  .navigationOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    list-style: none;
    font-size: 150%;
    padding: 0;
  }

  .navOption {
    margin-right: convertToRem(25rem);
    color: $blue-coastal-breeze;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

@media (max-width: 315px) {
  .shortHeader {
    .imageWrapper {
      display: none;
    }

    .navigationOptions {
      margin: auto;
    }
  }
}
