@import "../../_variables.scss";
@import "../../_functions.scss";

.tip {
  width: clamp(
    convertToRem(150rem),
    convertToRem(250rem),
    convertToRem(300rem)
  );
  min-width: convertToRem(150rem);
  height: auto;
  padding: convertToRem(20rem);
  border-radius: convertToRem(20rem);
  background: $black-transparent;
  color: $white-anti-flash;
  font-family: "Roboto Mono", monospace;
  position: fixed;
  margin: auto;
  bottom: 5%;
  left: 0;
  right: 0;
  font-size: clamp(
    convertToRem(13rem),
    convertToRem(15.7rem),
    convertToRem(20rem)
  );
  box-shadow: 0px 1px 5px 0px $black-transparent;
  transition: all 0.4s;
  cursor: default;
}

.threeDots {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: $white-anti-flash;
  font-size: clamp(
    convertToRem(15rem),
    convertToRem(20rem),
    convertToRem(25rem)
  );
  .icon {
    cursor: pointer;
  }
}

.popUpWrapper {
  width: clamp(
    convertToRem(100rem),
    convertToRem(150rem),
    convertToRem(200rem)
  );
  height: auto;
  padding: convertToRem(10rem);
  border-radius: convertToRem(20rem);
  background: $orange-synthetic-pumpkin;
  box-shadow: 0px 2px 5px 2.5px $black-transparent;
  position: fixed;
}

.optionsList {
  display: block;
  list-style: none;
  padding: 0;

  li {
    display: flex;
    margin: auto;
    color: $white-anti-flash;
    font-family: "Fira Sans", sans-serif;
    font-size: clamp(
      convertToRem(12.5rem),
      convertToRem(15rem),
      convertToRem(20rem)
    );
    margin-bottom: convertToRem(5rem);
    cursor: pointer;

    .icon {
      margin-right: convertToRem(5rem);
    }
  }
}

@media (max-width: 735px) {
  .popUpWrapper {
    width: clamp(
      convertToRem(100rem),
      convertToRem(150rem),
      convertToRem(200rem)
    );
    height: auto;
    padding: convertToRem(10rem);
    border-radius: convertToRem(20rem);
    background: $orange-synthetic-pumpkin;
    box-shadow: 0px 2px 5px 2.5px $black-transparent;
    position: fixed;
    right: 0;
  }
}
