@import "../_functions.scss";
@import "../variables.scss";

.tagsHeader {
  width: 100%;
  height: auto;
  display: flex;
  background: $blue-cyanite;
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  margin: 0;
  padding: convertToRem(10rem);
  padding-right: 10%;
  flex-wrap: wrap;

  button {
    display: flex;
    width: auto;
    min-width: convertToRem(70rem);
    margin-left: 1%;
    height: convertToRem(40rem);
    align-items: center;
    justify-content: center;
    background: $blue-cyanite;
    cursor: pointer;
    font-size: clamp(convertToRem(18rem), 45%, convertToRem(35rem));
    color: $blue-coastal-breeze;
    border: 2px solid transparent;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    p {
      background: transparent;
    }
  }

  button:focus {
    outline: none;
  }
}
