@import "../_variables.scss";
@import "../_functions.scss";

.postHeader {
  display: flex;
  width: auto;
  min-width: 100%;
  height: auto;
  max-height: convertToRem(120rem);
  padding: convertToRem(10rem);
  background: $blue-merachant-marine-transparent;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  margin: 0;
  backdrop-filter: blur(4px);
  justify-content: space-between;
  text-overflow: ellipsis;
  overflow-y: hidden;

  .arrowLeft {
    width: convertToRem(35rem);
    height: convertToRem(35rem);
    color: $white-anti-flash;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  .textsWrapper {
    .postTitle {
      font-size: clamp(
        convertToRem(15rem),
        convertToRem(20rem),
        convertToRem(30rem)
      );
      width: auto;
      font-family: "Baloo Bhaijaan 2", sans-serif;
      color: $blue-coastal-breeze;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-top: convertToRem(15rem);
      text-align: center;
      cursor: default;
    }

    .creatorCredits {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: clamp(
        convertToRem(10rem),
        convertToRem(15rem),
        convertToRem(20rem)
      );
      color: $white-anti-flash-transparent;
      font-family: "Baloo Bhaijaan 2", sans-serif;
      cursor: default;
    }
  }
}

@media (max-width: 307px) {
  .postHeader .textsWrapper .creatorCredits {
    text-align: left;
    width: convertToRem(150rem);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
