@import "../_variables.scss";
@import "../_functions.scss";

.imgPopUp,
.graphicPopUp {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: $black-transparent;
  width: auto;
  height: auto;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 11;
  .close {
    position: fixed;
    top: 2.5%;
    right: 2.5%;
    justify-content: end;
    align-items: center;
    width: convertToRem(50rem);
    height: convertToRem(50rem);

    cursor: pointer;
  }

  .card {
    width: clamp(200px, convertToRem(500rem), 70%);
    min-width: 200px;
    height: auto;
    display: block;
    padding: 3%;
    background: $white-anti-flash;
    border-radius: 1rem;

    h1 {
      font-size: clamp(14px, convertToRem(20rem), 35px);
      font-family: "Fira Sans", sans-serif;
      color: $blue-cyanite;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10%;
    }

    label {
      font-size: clamp(12.5px, convertToRem(17rem), 25px);
      font-family: "Baloo Bhaijaan", sans-serif;
      display: block;
      margin-bottom: 0.5rem;
    }

    .colorInput {
      width: 70%;
      height: convertToRem(40rem);
      border: convertToRem(5rem) solid $gray-peace;
      border-radius: 10px;
      color: $white-anti-flash;
      font-size: clamp(10px, convertToRem(16rem), 23px);
      transition: all 0.4s ease;
      padding: 0;
    }

    input,
    select {
      width: 100%;
      height: convertToRem(40rem);
      background: $gray-peace;
      border-radius: 10px;
      padding: convertToRem(11rem);
      color: $white-anti-flash;
      font-size: clamp(10px, convertToRem(16rem), 23px);
      transition: all 0.4s ease;
    }

    input:focus,
    select:focus {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-bottom: 2px solid $orange-synthetic-pumpkin;
    }

    input:active,
    select:active {
      background: $white-anti-flash;
      color: $gray-peace;
    }

    input:hover,
    select:hover {
      opacity: 0.8;
    }

    .smallBtn {
      width: 50%;
      height: 3.5%;
      border-radius: 2rem;
      background: $orange-synthetic-pumpkin;
      color: $white-anti-flash;
      font-size: clamp(12.5px, convertToRem(20rem), 35px);
      font-weight: bolder;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
      transition: all 0.3s ease;
      margin: auto;
      margin-top: 1rem;
    }

    button {
      width: 100%;
      height: 5%;
      border-radius: 3rem;
      margin-top: 2rem;
      background: $orange-synthetic-pumpkin;
      color: $white-anti-flash;
      font-size: clamp(17.5px, convertToRem(27rem), 40px);
      font-weight: bolder;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      transition: all 0.3s ease;
    }

    button:hover {
      opacity: 0.7;
    }

    button:active {
      border: 3px solid $orange-synthetic-pumpkin;
      background: transparent;
      color: $orange-synthetic-pumpkin;
      opacity: 1;
      transition: 0.1s;
    }
  }

  .colorsWrapper {
    display: flex;
    flex-wrap: wrap;
    .colorCard {
      display: flex;
      width: convertToRem(80rem);
      min-width: 50px;
      height: convertToRem(25rem);
      border-radius: convertToRem(4rem);
      margin: convertToRem(3rem);
      justify-content: flex-end;
      align-items: center;
      cursor: default;
      box-shadow: 1px 1px 5px 1px $black-transparent;

      span {
        font-size: auto;
        font-weight: bold;
        font-family: "Fira Sans", sans-serif;
        color: $gray-peace;
      }

      .closeColorCard {
        width: convertToRem(20rem);
        height: convertToRem(20rem);
        cursor: pointer;
        color: $white-anti-flash;
        background: $black-transparent;
        height: 100%;
        width: auto;
        border-top-right-radius: convertToRem(4rem);
        border-bottom-right-radius: convertToRem(4rem);
        transition: all 0.3s ease;
      }
    }
  }

  .seriesWrapper {
    display: flex;
    flex-wrap: wrap;
    .chartDataCard {
      display: flex;
      width: auto;
      min-width: 50px;
      height: convertToRem(25rem);
      border-radius: convertToRem(4rem);
      margin: convertToRem(3rem);
      justify-content: flex-end;
      align-items: center;
      padding: convertToRem(5rem);
      cursor: default;
      box-shadow: 1px 1px 5px 1px $black-transparent;

      span {
        font-size: auto;
        font-weight: bold;
        font-family: "Fira Sans", sans-serif;
        color: $gray-peace;
      }

      .closeSeriesCard {
        width: 100%;
        height: 100%;
        cursor: pointer;
        color: $black-pearl;
        height: 100%;
        width: auto;
        margin-left: convertToRem(15rem);
        border-top-right-radius: convertToRem(4rem);
        border-bottom-right-radius: convertToRem(4rem);
        transition: all 0.3s ease;
      }
    }
  }
}

.imgPopUp {
  .card {
    .dropZone {
      width: auto;
      min-width: convertToRem(190rem);
      height: auto;
      min-height: convertToRem(190rem);
      display: flex;
      align-items: center;
      justify-content: center;
      background: $gray-peace;
      border-radius: convertToRem(20rem);
      border: 3px dashed $purple-periwinkle;
      cursor: default;

      h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(15.7px, 18px, 24px);
        color: $black-pearl;
        font-family: "Baloo Bhaijaan 2", sans-serif;
      }

      label {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(13px, 15px, 20px);
        color: $black-transparent;
        font-family: "Roboto Mono", monospace;
        cursor: pointer;
      }

      input[type="file"] {
        display: none;
      }
    }
  }
}

.previewImages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .imageContainer {
    background: $gray-peace;
    border-radius: convertToRem(10rem);
    width: auto;
    max-width: 50%;
    min-width: convertToRem(85rem);
    height: auto;

    img {
      width: 100%;
      height: auto;
      border-radius: convertToRem(10rem);
    }
  }
}
