@import "../_functions.scss";
@import "../_variables.scss";

.profileImageWrapper {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  background: $black-transparent;
  border: 2px solid $blue-deep-koamaru;
  border-radius: convertToRem(100rem);
  padding: 0;
  margin: 0;

  .image {
    width: clamp(
      convertToRem(70rem),
      convertToRem(95rem),
      convertToRem(110rem)
    );
    height: clamp(
      convertToRem(70rem),
      convertToRem(95rem),
      convertToRem(110rem)
    );
    border-radius: convertToRem(100rem);
    margin: 0;
    padding: 0;
  }

  .noImage {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white-anti-flash;
    width: clamp(
      convertToRem(70rem),
      convertToRem(95rem),
      convertToRem(110rem)
    );
    height: clamp(
      convertToRem(70rem),
      convertToRem(95rem),
      convertToRem(110rem)
    );
    font-size: clamp(
      convertToRem(20rem),
      convertToRem(45rem),
      convertToRem(55rem)
    );
  }
}
