@import "../../_functions.scss";
@import "../../_variables.scss";

.toolbar {
  display: flex;
  width: 100%;
  height: auto;
  background: $blue-merachant-marine-transparent;
  padding: convertToRem(16rem) convertToRem(12rem) 0px;

  .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin-top: convertToRem(11rem);

    .logoImage {
      width: convertToRem(70rem);
      height: convertToRem(70rem);
    }
  }
}

.toolsContainer {
  display: block;
  width: 100%;

  .topInfo {
    display: flex;
    justify-content: space-between;
  }

  .bottomInfo {
    display: flex;
  }
}

.secondaryTools {
  .postNameContainer {
    display: flex;

    .postNameInput {
      display: flex;
      background: none;
      color: $white-anti-flash;
      padding: convertToRem(2rem) convertToRem(1rem);
      font-size: convertToRem(20rem);
      font-family: "Fira Sans", sans-serif;
      width: auto;
      border: 1px solid transparent;
      transition: all 0.3s ease;
      margin-right: convertToRem(20rem);

      &::placeholder {
        color: $white-anti-flash-transparent;
      }
      &:focus {
        border-bottom: 1px solid $blue-soul;
      }
    }
  }

  .secondaryToolsWrapper {
    display: flex;
    width: auto;
    height: auto;

    .secondaryToolButton {
      display: flex;
      font-size: convertToRem(15rem);
      font-family: "Fira Sans", sans-serif;
      color: $white-anti-flash;
      justify-content: center;
      align-items: center;
      background: transparent;
      padding: convertToRem(5rem) convertToRem(8.5rem);
      border-radius: convertToRem(10rem);
      cursor: pointer;

      &:hover {
        transition: 0.2s ease;
        background: $blue-soul;
      }

      &:active {
        transition: 0.1s ease;
        background: $blue-soul-dark;
      }
    }
  }
}

.starPostButton {
  background: none;
  padding: convertToRem(5rem);
  cursor: pointer;

  .starIcon {
    font-size: convertToRem(25rem);
    color: $white-anti-flash;
  }
}

.publishWrapper {
  display: flex;
  width: convertToRem(300rem);
  align-items: center;
  justify-content: flex-end;

  .publishButton {
    display: flex;
    width: auto;
    max-width: convertToRem(257rem);
    min-width: convertToRem(170rem);
    height: auto;
    background: $blue-soul;
    border-radius: 10px;
    padding: convertToRem(12rem);
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    margin-right: convertToRem(44rem);
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      background: $blue-soul-dark;
    }

    .publishButtonIcon {
      font-size: convertToRem(20rem);
      color: $white-anti-flash;
      margin-right: convertToRem(10rem);
    }

    .publishButtonText {
      font-size: convertToRem(17rem);
      font-size: "Roboto", sans-serif;
      color: $white-anti-flash;
    }
  }
  .profileImage {
    width: convertToRem(46rem);
    height: convertToRem(46rem);
    border-radius: convertToRem(50rem);
  }
}

.primaryTools {
  display: flex;
  width: 100%;
  background: $blue-free-speech;
  border-radius: convertToRem(50rem);
  padding: 0 convertToRem(10rem);

  .toolGroup {
    display: flex;

    .toolButton {
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: convertToRem(2.5rem);
      cursor: pointer;

      .boldIcon {
        font-size: convertToRem(25rem);
        color: $white-anti-flash;
      }
      .italicIcon {
        font-size: convertToRem(19rem);
        color: $white-anti-flash;
      }
      .historyButtons,
      .underlineIcon,
      .linkIcon,
      .imageIcon,
      .commentIcon,
      .checkListIcon,
      .clearTextIcon {
        font-size: convertToRem(20rem);
        color: $white-anti-flash;
      }

      .indentIcon {
        font-size: convertToRem(18rem);
        color: $white-anti-flash;
      }
    }

    .colorToolButton {
      background: transparent;
      display: block;
      cursor: pointer;

      .textColorTool {
        font-size: convertToRem(17.5rem);
        font-weight: bolder;
        font-family: "Roboto", sans-serif;
        color: $white-anti-flash;
        text-align: center;
      }

      .inkBucket {
        display: block;
        font-size: convertToRem(20rem);
        color: $white-anti-flash;
        margin: auto;
      }

      .textColorIndicator {
        width: convertToRem(19rem);
        height: convertToRem(4rem);
        background: #f00;
        border: 0.5px solid $black-pearl;
        border-radius: convertToRem(50rem);
      }
    }

    .toolButtonSelect {
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;

      .fontSizeIcon {
        font-size: convertToRem(27rem);
        color: $white-anti-flash;
      }

      .fontFamilyIcon {
        font-size: convertToRem(20rem);
        color: $white-anti-flash;
      }
    }

    .fontSizeInput {
      background: none;
      border: 1px solid $white-anti-flash;
      border-radius: convertToRem(2rem);
      font-size: convertToRem(13rem);
      color: $white-anti-flash;
      height: convertToRem(21rem);
      width: convertToRem(37rem);
      margin: auto;
      text-align: center;
    }

    .fontSizeButton {
      background: none;
      cursor: pointer;

      .fontSizeButtonIcon {
        color: $white-anti-flash;
        font-size: convertToRem(15rem);
        font-weight: bold;
      }
    }
  }
}
